<div class="container">
  <section class="searchCard">
    <h1>Flights</h1>
    <form>
        <div class="form-row">
          <div class="col-4">
            <input type="text" class="form-control" value="Anywhere">
          </div>
          <div class="col-4">
            <input type="text" class="form-control" value="Anywhere">
          </div>
          <div class="col-4">
            <input type="text" class="form-control" value="2/10/2018">
          </div>
        </div>
      </form>
  </section>
  <ng-container *ngFor="let flightPackage of flights">
      <app-flight-package [flights]="flightPackage"></app-flight-package>
  </ng-container>
</div>