<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#">
    <img src="/assets/img/rocketpig2.png" height="50" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home <i class="fas fa-home"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/flights">Flights <i class="fas fa-plane"></i></a>
        </li>
      </ul>
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item ml-auto">
          <a class="nav-link"><app-cart></app-cart></a>
        </li>
        <li *ngIf="!authenticationService.isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/register">Register <i class="fas fa-user-plus"></i></a>
        </li>
        <li *ngIf="!authenticationService.isLoggedIn()" class="nav-item">
          <a class="nav-link" routerLink="/login">Login <i class="fas fa-sign-in-alt"></i></a>
        </li>
        <li *ngIf="authenticationService.isLoggedIn()" class="nav-item ml-auto">
          <a class="nav-link" [routerLink]="[ authenticationService.getCustomer().user ]">
            {{ authenticationService.getCustomer().user }} <i class="fas fa-user-circle"></i></a>
        </li>
        <li *ngIf="authenticationService.isLoggedIn()" class="nav-item ml-auto">
          <a class="nav-link" (click)="authenticationService.logout()">Logout <i class="fas fa-sign-out-alt"></i></a>
        </li>
      </ul>
  </div>
</nav>