<div class="container">    
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <section class="loginCard">
        <h1>Login</h1>
        <form (submit)="login()">
          <div class="form-group">
            <input type="text" class="form-control" name="username" placeholder="Username" 
              [ngClass]="{'is-invalid': userNotFound}" [(ngModel)]="credentials.username">
            <div *ngIf="userNotFound" class="invalid-feedback">
              User not found.
            </div>                          
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" 
              [ngClass]="{'is-invalid': incorrectPassword}" [(ngModel)]="credentials.password">
            <div *ngIf="incorrectPassword" class="invalid-feedback">
              The password you entered was incorrect.
            </div>
          </div>
          <button type="submit" class="btn btn-primary" 
            [disabled]="!credentials.username || !credentials.password">Login</button>
        </form>  
      </section>
    </div>
  </div>
</div>     