<div class="container">
  <section class="orderCard">
    <div class="row">
      <div class="col-md-6">
        <h1>Booking Invoice</h1>
        <span>Booking ID: {{ bookingId }}</span>
        <br>
        <button class="btn btn-primary" href="#">Print Invoice</button>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label for="total" class="col-sm-4 col-form-label">Total:</label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="total" value="${{ booking.total | number : '1.2-2' }}">
          </div>
        </div>
        <div class="form-group row">
          <label for="billingName" class="col-sm-4 col-form-label">Billing Name:</label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="billingName" value="{{ booking.firstName }} {{ booking.lastName }}">
          </div>
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-4 col-form-label">Email Address:</label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="email" value="{{ booking.email }}">
          </div>
        </div>
        <div class="form-group row">
          <label for="address" class="col-sm-4 col-form-label">Address:</label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="address" value="{{ booking.address }}">
            <input type="text" readonly class="form-control-plaintext" id="location" value="{{ booking.city }}, {{ booking.state }} {{ booking.zip }}">
          </div>
        </div>
        <div class="form-group row">
          <label for="miles" class="col-sm-4 col-form-label">Total Miles:</label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="miles" value="{{ booking.totalMiles }}">
          </div>
        </div>
        <div *ngIf="booking.rewardCode !== null" class="form-group row">
          <label for="rewardCode" class="col-sm-4 col-form-label">Reward Code:</label>
          <div class="col-sm-8">
            <input type="text" readonly class="form-control-plaintext" id="rewardCode" value="{{ booking.rewardCode }}">
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="row">
    <div class="col-md-9">
      <h3>Flight Details</h3>
      <ng-container *ngFor="let flight of flights">
        <app-flight [flight]="flight"></app-flight>
      </ng-container>
    </div>
    <div class="col-md-3">
      <h3>Ticket Details</h3>
      <ng-container *ngFor="let ticket of tickets">
        <app-ticket [ticket]="ticket"></app-ticket>
      </ng-container>
    </div>
  </div>
  <h3 class="marginTop15">On-Flight Game Details</h3>
  <ng-container *ngFor="let game of games">
    <div class="row">
      <div class="col-md-5">
        <app-cart-game [game]="game"></app-cart-game>
      </div>
      <div class="col-md-2 star-wrapper" *ngIf="booking.customerId === customerProfile?._id">
        <star-rating [attr.tabindex]="-1" (ratingChange)="onRatingChange($event)" [labelPosition]="'top'" [labelText]="'Rate this seller:'"
          [starType]="'svg'"></star-rating>
        <button [disabled]="!rating" type="submit" class="btn star-btn btn-primary" (click)="submitRating(game.personId)">Submit</button>
      </div>
    </div>
  </ng-container>
</div>
