<div class="container">
  <h3>Profile</h3>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group row">
        <label for="example-email-input" class="col-4 col-form-label">First Name</label>
        <div class="col-6">
          <input class="form-control" type="text" readonly class="form-control-plaintext" value="{{ customerProfile?.firstName }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-email-input" class="col-4 col-form-label">Last Name</label>
        <div class="col-6">
          <input class="form-control" type="text" readonly class="form-control-plaintext" value="{{ customerProfile?.lastName }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-search-input" class="col-4 col-form-label">Email</label>
        <div class="col-6">
          <input class="form-control" type="text" readonly class="form-control-plaintext" value="{{ customerProfile?.email }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-email-input" class="col-4 col-form-label">Phone Number</label>
        <div class="col-6">
          <input class="form-control" type="text" readonly class="form-control-plaintext" value="{{ customerProfile?.phoneNumber }}">
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label for="example-text-input" class="col-4 col-form-label">Username</label>
        <div class="col-6">
          <input class="form-control" type="text" readonly class="form-control-plaintext" value="{{ customerProfile?.username }}">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-email-input" class="col-4 col-form-label">Total Miles</label>
        <div class="col-6">
          <input class="form-control" type="text" readonly class="form-control-plaintext" value="{{ customerProfile?.miles | number : '1.2-2'  }}">
        </div>
      </div>
      <div *ngIf="!customerProfile?.hasActiveReward" class="form-group row">
        <label for="example-email-input" class="col-4 col-form-label">Miles To Next Reward</label>
        <div class="col-6">
          <input class="form-control" type="text" readonly class="form-control-plaintext" value="{{ customerProfile?.milesToNextReward | number : '1.2-2'  }}">
        </div>
      </div>
      <div *ngIf="customerProfile?.hasActiveReward" class="form-group row">
        <label for="example-email-input" class="col-4 col-form-label">Reward Code</label>
        <div class="col-6">
          <input class="form-control" type="text" readonly class="form-control-plaintext" value="{{ customerProfile?.rewardId }}">
        </div>
      </div>
    </div>
  </div>
</div>
<app-history></app-history>
<app-post-game></app-post-game>
