section {
    height: 600px;
    background-image: url("/assets/img/travel.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-25px;
}

.searchCard {
    background-color: #f4f3f4;
    margin: auto;
    border: 1px solid #c0c5c8;
    padding: 45px;
    margin-top: 50px;
}

.btn-primary {
    width:100%;
}
