<section class="home">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="searchCard">
          <h3>Go where ever a Rocket Pig goes.</h3>
          <form>
            <div class="form-group">
              <label for="from">From where?</label>
              <input type="text" class="form-control" name="from" placeholder="Here">
            </div>
            <div class="form-group">
              <label for="where">To where?</label>
              <input type="text" class="form-control" name="where" placeholder="There">
            </div>
            <div class="form-group">
              <label for="where">Travel class</label>
              <select class="form-control">
                <option>Economy Class</option>
                <option>Business Class</option>
                <option>First Class</option>
              </select>
            </div>
            <div class="form-group">
              <label for="where">Fare class</label>
              <select class="form-control">
                <option>Adult</option>
                <option>Senior</option>
                <option>Child</option>
              </select>
            </div>
            <button type="submit" class="btn btn-primary" routerLink="/flights">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>


