section {
    height: 600px;
    background-image: url("/assets/images/travel.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:-25px;
}

.homeSearch {
    margin-top: 25px;
}