<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <section class="registerCard">
        <h1>Register</h1>
        <form (submit)="register()">
          <div class="form-group">
            <input type="text" class="form-control" name="username" 
              placeholder="Username" [(ngModel)]="credentials.username"                            
              (keyup)="validateUsername()" [ngClass]="{'is-invalid': usernameFound}">
            <div *ngIf="usernameFound" class="invalid-feedback">
              This username has been taken.
            </div> 
          </div>
          <div class="form-group">
            <input type="email" class="form-control" name="email"
              placeholder="Email Address" #isEmail="ngModel" [(ngModel)]="credentials.email"
              (keyup)="validateEmail()" [ngClass]="{'is-invalid': emailFound}" email>
            <div *ngIf="emailFound" class="invalid-feedback">
              This email address has been used.
            </div> 
            <div *ngIf="isEmail.invalid" class="invalid-feedback">
              Please enter a valid email address.
            </div> 
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="firstName"
              placeholder="First Name" [(ngModel)]="credentials.firstName">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="lastName"
              placeholder="Last Name" [(ngModel)]="credentials.lastName">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="phoneNumber"
              placeholder="Phone Number" [(ngModel)]="credentials.phoneNumber">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" name="password"
              placeholder="Password" [(ngModel)]="credentials.password"
              [ngClass]="{'is-valid': credentials.password.length >= 6}">
          </div>
          <div *ngIf="credentials.password.length < 6" class="invalid-feedback">
            Please enter a password greater than or equal to 6 characters.
          </div> 
          <button type="submit" class="btn btn-primary" [disabled]="usernameFound ||
            emailFound || !credentials.username || isEmail.invalid ||
            !credentials.firstName || !credentials.lastName || !credentials.phoneNumber ||
            credentials.password.length < 6">Register</button>
        </form>  
      </section>
    </div>
  </div>
</div>